.main{
    width: 62%;
    background-color: brown;
    height: 147px;
    margin-top: 61px;
    margin-left: 302px;
}

.img1{
    height: 100%;
    width: 100%;
}
.black{
    font-size: 18px;
    margin-top: -124px;
    margin-left: 360px;
    color: aliceblue;
}

.black1{
    font-size: 17px;
    margin-top: -18px;
    margin-left: 314px;
    color: aliceblue;
}
.black2{
    font-size: 13px;
    margin-top: -15px;
    margin-left: 402px;
    color: aliceblue;

}
.button2{

    color: white;
    border: 2px solid #ffffff;
    background: border-box;
    margin-left: 280px;
    width: 68px;
    height: 30px;
}
.a1{
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-size: smaller;
}



.button3{
    color: white;
    border: 2px solid #ffffff;
    background: border-box;
    margin-left: 3px;
    width: 47px;
    height: 30px;
    
}
.button4{
    color: white;
    border: 2px solid #ffffff;
    background: border-box;
    margin-left: 3px;
    width: 46px;
    height: 30px;
    
}
.button5{
    color: white;
    border: 2px solid #ffffff;
    background: border-box;
    margin-left: 3px;
    width: 48px;
    height: 30px;
    
}
.button6{
    color: white;
    border: 2px solid #ffffff;
    background: border-box;
    margin-left: 3px;
    width: 67px;
    height: 30px;
    
}
.button7{
    color: white;
    border: 3px solid #ffffff;
    background: border-box;
    margin-left: 2px;
    width: 58px;
    height: 30px;
    
}
